{% extends '../base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block title %} 
<title>Profile - {{ user }}</title>
{% endblock %}

{% block content %} 
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row py-4 mx-1">
                <div class="col-lg-6" id="dashboard">
                    <div class="rounded shadow-sm p-4" style="background-color: #0079D0;">
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="sml text-white text-center">
                                    TOTAL CLICK(S)
                                </p>
                                <h1 class="fw-normal text-center m-0">
                                    <span class="text-white">
                                        {{ cus }} 
                                    </span>
                                </h1>
                            </div>
                            <div class="col-lg-9 ">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" id="dashboard">
                    <div class="bg-white rounded shadow-sm p-4">
                        <div class="row">
                            <div class="col-lg-4 text-center">
                                <p class="sml">
                                    LINKS
                                </p>
                                <h2 class="fw-light">
                                    <span class="dark-blue text-danger">
                                        {{ count }}
                                    </span>
                                </h2>
                            </div>
                            <div class="col-lg-4 text-center border-start border-end">
                                <p class="sml">
                                    eCPM
                                </p>
                                <h2 class="fw-light">
                                    <span class="dark-blue text-danger">
                                        $0.5
                                    </span>
                                </h2>
                            </div>
                            <div class="col-lg-4 text-center">
                                <p class="sml">
                                    TOTAL EARNING
                                </p>
                                <h2 class="fw-light">
                                    <span class="dark-blue text-danger">
                                        ${{ total }}
                                    </span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

{% block javascript %}

{% endblock javascript %}
