{% extends '../base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %} 

{% block title %} 
<title>URLs - {{ user }}</title>
{% endblock %}

{% block content %} 
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">URLs</h1>
            <button type="button" class="btn btn-primary js-create-url mb-2" data-bs-toggle="modal" data-bs-target="#modal-url"  >
                <span class="glyphicon glyphicon-plus"></span>
                + New URL
            </button>
            
            <div class="modal fade" id="modal-url" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <form method="POST" id="post-form" class="m-3">
                          {% csrf_token %}
                          <div class="form-group">
                            <label>URL</label>
                            <input type="url" class="form-control" id="long_url" placeholder="URL here" required>
                          </div>
                          <div class="form-group">
                            <label>Custom URL</label>
                            <input type="text" class="form-control" id="short_url" placeholder="Custom URL here">
                            <input type="hidden" class="form-control" id="user" value="{{ user }}">
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
                </div>
            </div>
            <table class="table bg-white rounded shadow" id="url-table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Short Link</th>
                    <th>Link</th>
                    <th>Tanggal</th>
                    <th>Edit</th>
                    <th>Hapus</th>
                  </tr>
                </thead>
                <tbody>
                  {% include 'profile/includes/partial_url_list.html' %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(function() {
  $(document).on('submit', '#post-form',function(e){
    $.ajax({
      type:'POST',
      url:'{% url "create" %}',
      data:{
          user:$('#user').val(),
          long_url:$('#long_url').val(),
          short_url:$('#short_url').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          action: 'post',
      },
      error : function(xhr,errmsg,err) {
      console.log(xhr.status + ": " + xhr.responseText); 
      }
    });
  });

  var loadForm = function () {
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal").modal("show");
      },
      success: function (data) {
        $("#modal .modal-content").html(data.html_form);
      }
    });
  };

  var saveForm = function () {
    var form = $(this);
    $.ajax({
      url: form.attr("data-url"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: 'json',
      success: function (data) {
        if (data.form_is_valid) {
          $("#url-table tbody").html(data.html_url_list);
          $("#modal").modal("hide");
        }
        else {
          $("#modal .modal-content").html(data.html_form);
        }
      }
    });
    return false;
  };

// Update book
$("#url-table").on("click", ".js-update-url", loadForm);
$("#modal").on("submit", ".js-url-update-form", saveForm);

  // Delete book
$("#url-table").on("click", ".js-delete-url", loadForm);
$("#modal").on("submit", ".js-url-delete-form", saveForm);
});
</script>

{% endblock %}