
{% for cus in custom %}
<tr>
  <td>{{ forloop.counter }}</td>
  <td><a href="{{ cus.url }}" class="text-decoration-none" data-bs-toggle="tooltip" title="{{ cus.long_url }}"><p>{{ cus.url}}</p></a></td>
  <td><a href="{{ cus.long_url }}" class="text-decoration-none" data-bs-toggle="tooltip" title="{{ cus.long_url }}"><p>{{ cus.long_url}}</p></a></td>
  <td>{{ cus.buat }}</td>
  <td><button type="button" class="btn btn-warning btn-sm js-update-url text-white" data-url="{% url 'update-main' cus.id %}">Edit</button></td>
  <td><button type="button" class="btn btn-danger btn-sm js-delete-url text-white" data-url="{% url 'delete-main' cus.id %}">Delete</button></td>
</tr>
<div class="modal fade" id="modal" tabindex="-1"  >
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        {% include 'profile/includes/partial_url_update.html' %} 
      </div>
  </div>
</div>

{% empty %}
<tr>
    <td colspan="7" class="text-center bg-warning">No url</td>
</tr>
{% endfor %}